In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
panga=pd.read_csv("pakiusage.csv")
panga

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1961,1961,tonnes,41659,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1961,1961,tonnes,500,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1962,1962,tonnes,210,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1962,1962,tonnes,41160,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1963,1963,tonnes,67620,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),2018,2018,tonnes,3446922,Fm,Manual Estimation
168,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3104,Nutrient potash K2O (total),2018,2018,tonnes,54173,Fm,Manual Estimation
169,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3104,Nutrient potash K2O (total),2019,2019,tonnes,47260,Qm,Official data from questionnaires and/or natio...
170,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),2019,2019,tonnes,3505356,Qm,Official data from questionnaires and/or natio...
171,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),2019,2019,tonnes,1099707,Qm,Official data from questionnaires and/or natio...

In [4]:
panga.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value
count,172.0,172.0,172.000000,172.000000,172.000000,1.720000e+02
mean,165.0,5157.0,3102.970930,1990.784884,1990.784884,7.064396e+05
std,0.0,0.0,0.812385,16.678775,16.678775,9.709749e+05
min,165.0,5157.0,3102.000000,1961.000000,1961.000000,1.440000e+02
25%,165.0,5157.0,3102.000000,1976.750000,1976.750000,2.615950e+04
50%,165.0,5157.0,3103.000000,1991.000000,1991.000000,2.689255e+05
75%,165.0,5157.0,3104.000000,2005.000000,2005.000000,9.193622e+05
max,165.0,5157.0,3104.000000,2019.000000,2019.000000,3.505356e+06

In [5]:
panga.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1961,1961,tonnes,41659,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1961,1961,tonnes,500,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1962,1962,tonnes,210,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1962,1962,tonnes,41160,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1963,1963,tonnes,67620,Qm,Official data from questionnaires and/or natio...

In [9]:
panga.drop(["Area","Element"],axis=1)

,Domain Code,Domain,Area Code,Element Code,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,165,5157,3102,Nutrient nitrogen N (total),1961,1961,tonnes,41659,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,165,5157,3103,Nutrient phosphate P2O5 (total),1961,1961,tonnes,500,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,165,5157,3103,Nutrient phosphate P2O5 (total),1962,1962,tonnes,210,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,165,5157,3102,Nutrient nitrogen N (total),1962,1962,tonnes,41160,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,165,5157,3102,Nutrient nitrogen N (total),1963,1963,tonnes,67620,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...
167,RFN,Fertilizers by Nutrient,165,5157,3102,Nutrient nitrogen N (total),2018,2018,tonnes,3446922,Fm,Manual Estimation
168,RFN,Fertilizers by Nutrient,165,5157,3104,Nutrient potash K2O (total),2018,2018,tonnes,54173,Fm,Manual Estimation
169,RFN,Fertilizers by Nutrient,165,5157,3104,Nutrient potash K2O (total),2019,2019,tonnes,47260,Qm,Official data from questionnaires and/or natio...
170,RFN,Fertilizers by Nutrient,165,5157,3102,Nutrient nitrogen N (total),2019,2019,tonnes,3505356,Qm,Official data from questionnaires and/or natio...
171,RFN,Fertilizers by Nutrient,165,5157,3103,Nutrient phosphate P2O5 (total),2019,2019,tonnes,1099707,Qm,Official data from questionnaires and/or natio...

In [10]:
panga

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1961,1961,tonnes,41659,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1961,1961,tonnes,500,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),1962,1962,tonnes,210,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1962,1962,tonnes,41160,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),1963,1963,tonnes,67620,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),2018,2018,tonnes,3446922,Fm,Manual Estimation
168,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3104,Nutrient potash K2O (total),2018,2018,tonnes,54173,Fm,Manual Estimation
169,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3104,Nutrient potash K2O (total),2019,2019,tonnes,47260,Qm,Official data from questionnaires and/or natio...
170,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3102,Nutrient nitrogen N (total),2019,2019,tonnes,3505356,Qm,Official data from questionnaires and/or natio...
171,RFN,Fertilizers by Nutrient,165,Pakistan,5157,Agricultural Use,3103,Nutrient phosphate P2O5 (total),2019,2019,tonnes,1099707,Qm,Official data from questionnaires and/or natio...