# indexing

In [107]:
# make a string

a = "Samosa Pakora"
a

'Samosa Pakora'

In [108]:
a

'Samosa Pakora'

In [109]:
# length of index indeces
len(a)

13

In [110]:
a[0]

'S'

In [111]:
a[1]

'a'

In [112]:
a[3]

'o'

In [113]:
a[12]

'a'

In [114]:
a[12]

'a'

In [115]:
a[0:13]       #last index is the exclusive index

'Samosa Pakora'

In [116]:
a[-2]

'r'

In [117]:
a[-6:-2]

'Pako'

In [118]:
food = "Biryani"

'biryani'

# string methods

In [119]:
food

'Biryani'

In [120]:
len(food)

7

In [121]:
# did in upper case
food.upper()

'BIRYANI'

In [122]:
# did in lower case
food.lower()

'biryani'

In [123]:
#replace
food.replace("i", "ti")

'Btiryanti'

In [124]:
# counting a specific alphabet
name = "when an object is totally or partially immersed in a liquid an upthurst adts on it equilto the weight of the liquid it displaces"
name

'when an object is totally or partially immersed in a liquid an upthurst adts on it equilto the weight of the liquid it displaces'

In [125]:
name.count("a")

8

# finding index number in a string

In [126]:
name.find("b")

9

In [127]:
name.find("e")

2

In [128]:
name.find("e")

2

In [129]:
###how to split a string
line = "war makes the thing complicated expensive with the increasing amount of violence,terror,reduction,tear,wear and energy explosion"
line

'war makes the thing complicated expensive with the increasing amount of violence,terror,reduction,tear,wear and energy explosion'

In [130]:
line.split("increasing")

['war makes the thing complicated expensive with the ',
 ' amount of violence,terror,reduction,tear,wear and energy explosion']

# basic data structures in python
1-tuple

2-list

3-dictionaries

4-set

# 1-tuple
-ordered collection of elements

enclosed in () riund braces

-different kind of element can be store

-once elements are stored you cannot changed themm ie unchangeable

In [131]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [132]:
# type of a tuple
type(tup1)

tuple

# indexing in tuple

In [133]:
tup1[1]

'python'

In [134]:
tup1[2]

True

In [135]:
tup1[0:5]

(1, 'python', True, 2.5)

In [136]:
len(tup1)

4

In [137]:
tup2 = (2,  "tayyabhussain",  3.5,  False)
tup2

(2, 'tayyabhussain', 3.5, False)

In [138]:
#concatinate (i.e to plus to tuplr)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'tayyabhussain', 3.5, False)

In [139]:
tup1*5 + tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'tayyabhussain',
 3.5,
 False)

In [140]:
tayyabhussain = tup1 + tup2
tayyabhussain

(1, 'python', True, 2.5, 2, 'tayyabhussain', 3.5, False)

In [141]:
tup1 = tup1*3
tup1

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 1, 'python', True, 2.5)

In [142]:
tayyabhussain

(1, 'python', True, 2.5, 2, 'tayyabhussain', 3.5, False)

In [143]:
tup3 = (20,30,40,50,60)
tup3

(20, 30, 40, 50, 60)

In [144]:
#min value
min(tup3)

20

In [145]:
max(tup3)

60

---

# 2-list
- ordered collection of elements

- enclosed in [      ] sqaure brackets

- mutate able value can be changed

In [146]:
list1 = ["tayyab", 45, "hussain", False]
print(list1)

['tayyab', 45, 'hussain', False]

In [147]:
type(list1)

list

In [148]:
len(list1)

4

In [149]:
list1[2]

'hussain'

In [150]:
list2 = [25, 'tayyab', 'hussain', 29, True, False]
list2

[25, 'tayyab', 'hussain', 29, True, False]

In [151]:
list1 + list2

['tayyab', 45, 'hussain', False, 25, 'tayyab', 'hussain', 29, True, False]

In [152]:
list1.reverse()
list1

[False, 'hussain', 45, 'tayyab']

In [153]:
list1

[False, 'hussain', 45, 'tayyab']

In [154]:
list2

[25, 'tayyab', 'hussain', 29, True, False]

In [155]:
list1

[False, 'hussain', 45, 'tayyab']

In [156]:
list2

[25, 'tayyab', 'hussain', 29, True, False]

In [166]:
list1.append("codanics,youtube,channel")
list1

[False,
 'hussain',
 45,
 'tayyab',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel']

In [ ]:
list1.count()
#list.count function

In [171]:
list3 = [10, 20, 30, 10000, 50, 60,  70, 80, 90, 100]
list3

[10, 20, 30, 10000, 50, 60, 70, 80, 90, 100]

In [169]:
len(list3)

10

In [172]:
#sorting a list
list3.sort()
list3

[10, 20, 30, 50, 60, 70, 80, 90, 100, 10000]

In [174]:
list3*3

[10,
 20,
 30,
 50,
 60,
 70,
 80,
 90,
 100,
 10000,
 10,
 20,
 30,
 50,
 60,
 70,
 80,
 90,
 100,
 10000,
 10,
 20,
 30,
 50,
 60,
 70,
 80,
 90,
 100,
 10000]

In [175]:
list1 + list2

[False,
 'hussain',
 45,
 'tayyab',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 25,
 'tayyab',
 'hussain',
 29,
 True,
 False]

In [178]:
list1 + list2 +list3

[False,
 'hussain',
 45,
 'tayyab',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 'codanics,youtube,channel',
 25,
 'tayyab',
 'hussain',
 29,
 True,
 False,
 10,
 20,
 30,
 50,
 60,
 70,
 80,
 90,
 100,
 10000]

#  3-dictionaries

- unordered collection of elements

- key and value

- use with curly brackets or braces { }

- mutataeable/ change the values

In [190]:
# for example samsung and other mobiles phone products
phones  =  {"samsung":10,   "apple":20,   "vivo":30,   "huawei":40,   "nokia":50}
phones

{'samsung': 10, 'apple': 20, 'vivo': 30, 'huawei': 40, 'nokia': 50}

In [191]:
type(phones)

dict

In [195]:
keys1 = phones.keys()
keys1

dict_keys(['samsung', 'apple', 'vivo', 'huawei', 'nokia'])

In [196]:
values1 = phones.values()
values1

dict_values([10, 20, 30, 40, 50])

In [199]:
#adding new element by update funtion
phones["oneplus"]=60
phones

{'samsung': 10,
 'apple': 20,
 'vivo': 30,
 'huawei': 40,
 'nokia': 50,
 'oneplus': 60}

In [200]:
# for example changing the oneplus products
phones["oneplus"]=65
phones

{'samsung': 10,
 'apple': 20,
 'vivo': 30,
 'huawei': 40,
 'nokia': 50,
 'oneplus': 65}

In [201]:
tablets = {"ipad":30,  "samsungtabs":40,  "huaweitabs":50}
tablets

{'ipad': 30, 'samsungtabs': 40, 'huaweitabs': 50}

In [206]:
phones.update(tablets)
tablets.update(phones)
phones
tablets

{'ipad': 30,
 'samsungtabs': 40,
 'huaweitabs': 50,
 'samsung': 10,
 'apple': 20,
 'vivo': 30,
 'huawei': 40,
 'nokia': 50,
 'oneplus': 65}

In [207]:
phones

{'samsung': 10,
 'apple': 20,
 'vivo': 30,
 'huawei': 40,
 'nokia': 50,
 'oneplus': 65,
 'ipad': 30,
 'samsungtabs': 40,
 'huaweitabs': 50}

In [208]:
tablets

{'ipad': 30,
 'samsungtabs': 40,
 'huaweitabs': 50,
 'samsung': 10,
 'apple': 20,
 'vivo': 30,
 'huawei': 40,
 'nokia': 50,
 'oneplus': 65}

# 4-sets
- unordered and inindexed
- same curly braces are used like dictionaries
- no dublicated are allowed

In [263]:
s1 = {1, 2.3, 4.5,"tayyab:hussain", "tayyab", "hussain", "introvert"}
s1

{1, 2.3, 4.5, 'hussain', 'introvert', 'tayyab', 'tayyab:hussain'}

In [222]:
s1.add("quantum theory of physics")
s1

{' ',
 1,
 2.3,
 4.5,
 'a',
 'c',
 'e',
 'f',
 'h',
 'hussain',
 'i',
 'introvert',
 'm',
 'n',
 'o',
 'p',
 'q',
 'quantum theory of physics',
 'r',
 's',
 't',
 'tayyab',
 'tayyab:hussain',
 'u',
 'y'}

In [223]:
s1

{' ',
 1,
 2.3,
 4.5,
 'a',
 'c',
 'e',
 'f',
 'h',
 'hussain',
 'i',
 'introvert',
 'm',
 'n',
 'o',
 'p',
 'q',
 'quantum theory of physics',
 'r',
 's',
 't',
 'tayyab',
 'tayyab:hussain',
 'u',
 'y'}

In [224]:
s1.remove("introvert")

In [225]:
s1

{' ',
 1,
 2.3,
 4.5,
 'a',
 'c',
 'e',
 'f',
 'h',
 'hussain',
 'i',
 'm',
 'n',
 'o',
 'p',
 'q',
 'quantum theory of physics',
 'r',
 's',
 't',
 'tayyab',
 'tayyab:hussain',
 'u',
 'y'}

In [227]:
s2 = {1,2,3,4,5,"tayyab", "learning with codanics", "python"}
s2

{1, 2, 3, 4, 5, 'learning with codanics', 'python', 'tayyab'}

In [228]:
s2.remove(5)
s2

{1, 2, 3, 4, 'learning with codanics', 'python', 'tayyab'}

In [230]:
s2.add(5)
s2

{1, 2, 3, 4, 5, 'learning with codanics', 'python', 'tayyab'}

In [237]:
s3 = {'green', "red", "tayyab", "batman"}
s3

{'batman', 'green', 'red', 'tayyab'}

In [238]:
# clearing the cell
s3.clear()
s3

set()

In [239]:
s3

set()

In [240]:
s4 =  {'green', "red", "tayyab", "batman", "panda"}
s4

{'batman', 'green', 'panda', 'red', 'tayyab'}

In [241]:
# deleting the cell
del s4

In [242]:
s4

NameError: name 's4' is not defined

In [254]:
# adding the loopcell
s5 =  {'green', "red", "tayyab", "batman", "panda"}

for x in s5:
  print(x)

green
batman
red
panda
tayyab

In [274]:
# doing the intersection_update of set6 from set5
set5 = {1000, "plus"}
set6 = {5000, "plus"}
set5.intersection_update(set6)
print(set5)

{'plus'}

In [277]:
# joining two cells by union method in this double value will have single output as with the case of plus
set5 = {1000, "plus"}
set6 = {5000, "plus"}
set7= {6000, "minus"}
sets = set5.union(set6,set7)
sets

{1000, 5000, 6000, 'minus', 'plus'}

In [278]:
set5

{1000, 'plus'}

In [279]:
set6

{5000, 'plus'}

In [ ]:
# The symmetric_difference_update() method will keep only the elements that are NOT present in both sets. it is the opposite of intersection_update

#    PRACTICE THE ABOVE ALL ONCE AGAIN PLEASE TAYYAB FOR DATA SCIENTIST