In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
df = pd.read_csv("Salary_Data.csv")

In [6]:
df

     age  distance  YearsExperience    Salary
0   31.1     77.75              1.1   39343.0
1   31.3     78.25              1.3   46205.0
2   31.5     78.75              1.5   37731.0
3   32.0     80.00              2.0   43525.0
4   32.2     80.50              2.2   39891.0
5   32.9     82.25              2.9   56642.0
6   33.0     82.50              3.0   60150.0
7   33.2     83.00              3.2   54445.0
8   33.2     83.00              3.2   64445.0
9   33.7     84.25              3.7   57189.0
10  33.9     84.75              3.9   63218.0
11  34.0     85.00              4.0   55794.0
12  34.0     85.00              4.0   56957.0
13  35.0     85.50              4.1   57081.0
14  35.3     85.90              4.5   61111.0
15  35.8     86.30              4.9   67938.0
16  36.0     87.00              5.1   66029.0
17  36.5     87.30              5.3   83088.0
18  40.0     87.90              5.9   81363.0
19  41.2     88.20              6.0   93940.0
20  42.0     88.60              6.8   91738.0
21  43.0     90.00              7.1   98273.0
22  44.0     90.30              7.9  101302.0
23  45.0     90.80              8.2  113812.0
24  46.0     91.20              8.7  109431.0
25  47.0     95.00              9.0  105582.0
26  48.0     96.00              9.5  116969.0
27  49.0     97.00              9.6  112635.0
28  50.0     98.00             10.3  122391.0
29  50.0     99.00             10.5  121872.0

In [14]:
X = df[["age", "distance", "YearsExperience"]]
y = df[["Salary"]]

In [15]:
model = LinearRegression().fit(X,y)

In [16]:
model

LinearRegression()

In [17]:
# farmula of the multiple linear regression
#y = mx1 + mx2 + mx3 + b
#or 
#Y= the dependent variable of the regression
#M= slope of the regression
#X1=first independent variable of the regression
#The x2=second independent variable of the regression
#The x3=third independent variable of the regression
#B= constant

In [25]:
model.coef_

array([[ 1324.98263461, -2163.42891362, 10894.54495683]])

In [26]:
model.intercept_

array([155480.68454162])

In [29]:
model.predict([[31.1,77.75,1.1]]) # this predicted salary is different from the salary of its original stored data

array([[40465.04589633]])

In [30]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=1/3, random_state = 0)

In [34]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model = model.fit(X_train, y_train)

In [37]:
y_pred=model.predict(X_test)
y_pred

array([[ 45009.15519414],
       [122177.98138232],
       [ 60378.97911805],
       [ 58194.59353619],
       [115287.09188947],
       [117201.73738122],
       [115349.66724555],
       [ 58743.98680045],
       [ 71369.43484147],
       [106851.53057299]])

In [38]:
from sklearn.metrics import r2_score

In [39]:
r2_score(y_test,y_pred)

NameError: name 'r3_score' is not defined