In [ ]:
# body mass index (bmi)
# we will give input weight and input height
# BMI ask yourself your height
# weight
# calculate BMI
# print BMI (My name is         ,    and my BMI is ---------,)

In [4]:
age = input("what is your age")
height = input("what is your height")
weight = input("what is your weight")
BMI = height + weight + age
print("my name is tayyab and my BMI is", BMI)

what is your age18
what is your height176
what is your weight60
my name is tayyab and my BMI is 1766018

In [5]:
height = input("what is your height")
height = set(height)
weight = input("what is your weight")
weight = set(weight)
age = input("what is your age")
age = set(age)
name = input("what is your name")
BMI = weight, height,age
print("My name is ", name, "my BMI is", BMI)

what is your height11
what is your weight11
what is your age11
what is your name11
My name is  11 my BMI is ({'1'}, {'1'}, {'1'})

In [3]:
height = input("what is your height")
height = float(height)
weight = input("what is your weight")
weight = float(weight)
age = input("what is your age")
age = float(age)
name = input("what is your name")
BMI = height/weight+age
print("My name is ", name, "my BMI is", BMI)

what is your height176
what is your weight60.1
what is your age18
what is your nameTAYYAB HUSSAIN
My name is  TAYYAB HUSSAIN my BMI is 20.928452579034943

In [13]:
 import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme(style="ticks", color_codes=True)

titanic = sns.load_dataset("titanic")
sns.catplot(x="sex", y="survived", hus="class", kind="bar", data=titanic)
plt.show()

ValueError: 'tittanic' is not one of the example datasets.